/* MOVE THIS OUT */
 * {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
  Helvetica Neue, Arial, sans-serif !important;
 }

 body, html {
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

.__alx_table {
  font-size: clamp(8px, 2vw, 13px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #0A0A0A;
  color: #9D9D9D;
  font-weight: 400;
  border-collapse: collapse;
}
.__alx_table tr {
  border-bottom: 1px double #111111;

  display: grid !important;
  grid-template-columns: minmax(60px, 700px) 1fr 1fr 1fr 1fr 1fr !important;
  align-items: center;
}

.__alx_table thead th,
.__alx_table tbody td {
  text-align: start;
  min-height: 2.5rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.__alx_table .pros-stats {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}
.__alx_table .pros-stats > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.__alx_table .team-radiant,
.__alx_table .team-dire {
  border-radius: 4px;
  padding: 0.4rem;
  background-color: #141414;
  gap: 0.8rem;
  flex-wrap: wrap;
}



.pros {
  height: 100%;
  justify-self: flex-start;
}

.hero_whole {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #D0D0D0;
  font-weight: 700;
}

.match-result {
  height: 90%;
  width: 1px;
  margin-right: 0.5rem;
}

.player {
  white-space: nowrap;
}

.pros-stats {
  flex-wrap: wrap;
}

.hero_whole img {
  width: clamp(18px, 2vw, 32px);
  height: clamp(18px, 2vw, 32px);
}